<!--スライドショー-->
  <div class="slick">
    <div>
      <%= image_tag '1640586537471', class:'col' %>
    </div>
    <div>
      <%= image_tag '1649787650066', class:'col' %>
    </div>
    <div>
      <%= image_tag '1649787660064', class:'col' %>
    </div>
  </div>
