<!--スライドショー-->
  <div class="slick">
    <div>
      <%= image_tag '1640586537471', class:'col' %>
    </div>
    <div>
      <%= image_tag '1649787650066', class:'col' %>
    </div>
    <div>
      <%= image_tag '1649787660064', class:'col' %>
    </div>
  </div>

<div style="position: relative; display:inline-block;">
<img src="1640586537471" alt="">
<div style="position: absolute; top: 0; left: 0; max-width: 100%; max-height: 100%; padding: 30px; text-align: left;">
<p>ここに文章を書く</p>
</div></div>
