<div class="photo-wrap">
 <% @photo.each do |photo| %>
  <div class="photo-box">
   <% if photo.image.attached? %>
    <%= image_tag photo.image, size: "200x200" %>
   <% else %>
    <%= image_tag'no_image',size: "200x200" %>
   <% end %>
   <div class="photo-comment">
    <span class="photo-body"><%= photo.body %></span>
    <span class="photo-title"><%= link_to photo.title, photo_path(photo.id) %></span>
   </div>
  </div>
<% end %>
</div>
